* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

a {
    color: white;
    display: block;
    height: fit-content;
    width: fit-content;
    margin-top: 20px;
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    height: 100vh;
    font-family: 'Source Sans Pro', sans-serif;
}

main {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    min-height: -webkit-fill-available;
    height: 100vh;
    z-index: -10;
    background: url("../img/background.jpg") no-repeat center center;
    background-size: cover;
    filter: brightness(80%);
}

.form_outer {
    display: none;
}

.form_outer_mobile {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
}

.form_back {
    background-color: rgba(15, 26, 47, 0.9);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.form_back_left,
.form_back_right {
    width: 100%;
    display: flex;
    justify-content: center;
}

.form_back_left {
    height: 40%;
}

.form_back_right {
    height: 60%;
}

.form_front {
    background-color: white;
    width: 50%;
    height: 110%;
    position: absolute;
    top: -5%;
    transform: translateX(95%);
    /* background: url("../img/content_active.png") no-repeat center;
    background-position: 40% 50%; */
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow:
        -20px 0px 0px -5px rgba(73,171,254,0.5),
        -16px 0px 0px -5px rgba(73,171,254,0.5),
        -12px 0px 0px -6px rgba(73,171,254,0.5),
        -11px 0px 0px -6px rgba(73,171,254,0.5),
        -7px 0px 0px -7px rgba(73,171,254,0.5),
        -6px 0px 0px -7px rgba(73,171,254,0.5),
        -2px 0px 0px -8px rgba(73,171,254,0.5),
        -1px 0px 0px -8px rgba(73,171,254,0.5),
        0px 0px 0px -9px rgba(73,171,254,0.5);
}

.form_front_mobile {
    width: 100%;
    height: 100%;
    transition: .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.form_data {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
}

.back_left_container,
.back_right_container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 75%;
    width: 100%;
    text-align: left;
    color: white;
}

h2 {
    font-weight: 100;
}

hr {
    width: 50px;
    border-color: #49abfe;
    border-style: none;
    border-top-style: solid;
    border-top-width: 2px;
    margin: 25px 0;
}

p {
    margin-bottom: 20px;
}

button {
    -moz-border-radius: 28px;
    -webkit-border-radius: 28px;
    border-radius: 28px;
    display: block;
    cursor: pointer;
    font-size: 13px;
    padding: 16px 31px;
    text-transform: uppercase;
    color: white;
    width: 150px;
    align-self: flex-start;
}

.signup_button {
    border: 2px solid #49abfe;
    background-color: transparent;
}

.button_mobile {
    align-self: center;
    width: 120px;
    padding: 8px 25px;
    border: 2px solid #49abfe;
    background-color: transparent;
    font-size: .8em;
}

.orange {
    background-color: #f89a35;
    border: none;
}

.orange:hover {
    background-color: #f8bf35;
}

.signup_button:hover, .button_mobile:hover {
    background-color: #49abfe;
}

button:active {
    position: relative;
    top: 1px;
    outline: none;
}

button:focus {
    outline: none;
}

input {
    height: 50px;
    border: none;
    padding-left: 10px;
    background: none;
    color: white;
    padding-top: 25px;
    width: 100%;
}

input:focus, button:focus {
    outline: none;
}

input:focus+label,
input:valid+label {
    transform: scale(.7) translateY(-30%);
    text-transform: uppercase;
    font-weight: bold;
}

input:focus~svg .cls-1{
    fill: #49abfe;
}

label {
    position: absolute;
    transform: translateY(15%);
    transition: .2s linear;
    pointer-events: none;
}

.asterisk {
    color: red;
    font-size: 1.4em;
}

footer {
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    height: 60px;
    color: grey;
    font-weight: bolder;
    background-color: rgba(15, 26, 47, 0.9);
}

.user_content {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.user_data {
    display: flex;
    align-items: center;
    border-bottom: 1px solid grey;
    width: 80%;
    justify-content: space-between;
}

.icon {
    width: fit-content;
    height: fit-content;
}

.inactive {
    display: none;
}

.margin_top {
    margin-top: 10px;
}

.margin_bottom {
    margin-bottom: 10px;
}

.padding_top {
    padding-top: 20px;
}

/* animation */
.animation {
    animation: flash;
    animation-duration: 2s;
}

@keyframes flash {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* media queries */
@media(min-width: 992px) {

.form_outer_mobile {
    display: none;
}

.form_data {
    align-items: stretch;
}

.form_outer {
    width: 60%;
    height: 55%;
    position: relative;
    display: block;
}

.form_back {
    width: 100%;
    height: 100%;
    flex-direction: row;
}

.form_back_left,
.form_back_right {
    height: 100%;
    width: 50%;
    align-items: center;
}

.back_left_container,
.back_right_container {
    align-items: flex-start;
    padding: 0;
    height: 75%;
    width: 75%;
}

.user_content {
    width: 100%;
    align-items: flex-start;
}

input {
    color: black;
}

footer {
    background: none;
    margin-top: 60px;
}

}
